# Chezmoi config file

#====================
#=====git setup======
#====================
[git]
autoCommit = true
commitMessageTemplate = "{{ promptString \"Enter commit message >\" }}"
autoPush = true
